.header {
    padding:15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header_left {
    display: flex;
    justify-content: space-evenly;
}

.header_input {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px;
    margin-left: 10px;
    border-radius: 33px;

}

.header_left > img {
    height: 50px;
}

.header_left > input {
    border: none;
    background-color: transparent;
    outline-width: 0;
}

.header_center{

    display: flex;
    flex: 1;
    justify-content: center;
}


.header_option > .MuiSvgIcon-root {
    color: gray;
}

.header_option:hover > .MuiSvgIcon-root {
    color:blue;
    border-radius: 10px;
    align-items: center;
    padding: 0 30px;
    border-bottom: none;
}

.header_option {

    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

.header_info {

    display: flex;
    align-items: center;
}

.header_info > h4{

    margin-left: 10px;
}

.header_right {

    display: flex;
    margin-bottom: 10px;
}